<template name="deliveryDetails">
	<ul class="list-group">
        <div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
  					<h4 class="panel-title"><a data-toggle="collapse" href="#deliveryDet">Delivery Information</a><span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" id="btnDelivery" style="cursor:pointer"></span></h4>
  				</div>
		        <div id="deliveryDet" class="panel-collapse collapse">
			        <li class="list-group-item">Delivery Address: {{delivery.Address}}</li>
			        <li class="list-group-item">Truck No:  {{delivery.TruckNo}}</li>
			        <li class="list-group-item">Mobile No: {{delivery.MobileNo}}</li>
			        <li class="list-group-item"> Seal No: {{delivery.SealNo}}</li>
			        <li class="list-group-item">Delivery Out By: {{delivery.DeliveryOutBy}}</li>
			        <li class="list-group-item">Delivery Out On: {{delivery.DeliveryOutOn}}</li>
    			</div>
    		</div>
    	</div>
    </ul>
</template>