<template name="shipDetails">
	<ul class="list-group">
        <div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-heading">
  					<h4 class="panel-title"><a data-toggle="collapse" href="#shipDet">Shipping Information</a><span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true" id="btnShip" style="cursor:pointer"></span></h4>
  				</div>
		        <div id="shipDet" class="panel-collapse collapse">
			        <li class="list-group-item">B/L Type: {{ship.SurRel}}</li>
			        <li class="list-group-item">Shipping Co Name: {{ship.ShipCoName}}</li>
			        <li class="list-group-item">Located At:  {{ship.LocatedAt}}</li>
			        <li class="list-group-item">Vessel Name: {{ship.VesselName}}</li>
			        <li class="list-group-item"> ETA: {{ship.ETA}}</li>
			        <li class="list-group-item">Contact Person Name 1: {{ship.CoPersonName1}}</li>
			        <li class="list-group-item">Contact Person Name 2: {{ship.CoPersonName2}}</li>
			        <li class="list-group-item">Next Agent: {{ship.NextAgent}}</li>
    			</div>
    		</div>
    	</div>
    </ul>
</template>