<template name="status">
	<div class="row">
  		<div class="col-sm-3">{{#if vessel}}x{{else}}yes{{/if}}</div>
  		<div class="col-sm-3">{{#if orD}}x{{else}}yes{{/if}}</div>
  		<div class="col-sm-3">{{#if DOCollected}}x{{else}}yes{{/if}}</div>	
  		<div class="col-sm-3">{{#if Arr}}x{{else}}yes{{/if}}</div>
  	</div>
	<div class="row">
  		<div class="col-sm-3">Vessel Arrived</div>
  		<div class="col-sm-3">Original Received</div>
  		<div class="col-sm-3">DO Collected</div>	
  		<div class="col-sm-3">Container Arrived</div>
  	</div>
	<div class="row">
  		<div class="col-sm-3">{{#if thoka}}x{{else}}yes{{/if}}</div>
  		<div class="col-sm-3">{{#if dutyPaid}}x{{else}}yes{{/if}}</div>
  		<div class="col-sm-3">{{#if delivery}}x{{else}}yes{{/if}}</div>	
  		<div class="col-sm-3">{{#if Arr}}x{{else}}yes{{/if}}</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-3">Thoka Taken</div>
  		<div class="col-sm-3">Custom Duty Paid</div>
  		<div class="col-sm-3">Delivery Completed</div>
  		<div class="col-sm-3">Billing Done</div>
	</div>

</template>