<template name="view">
	{{> status}}
	{{> header}}
	{{> jobDetails}}
	{{> orDoc}}
	<br>
	{{> shipDetails}}
	{{> yrdDetails}}
	{{> boeDetails}}
	{{> igmDet}}
	{{> dutyDetails}}
	{{> docksDetails}}
	{{> deliveryDetails}}
	{{> billDetails}}

	{{#if pgaselfssai}}
	<br><button class="btn btn-default" name="btnFSSAI" id="btnFSSAI">ENTER FSSAI DETAILS</button>
{{else}}
	{{#if pgaselpq}}
		<br><button class="btn btn-default" name="btnPQ" id="btnPQ">ENTER PQ DETAILS</button>	
	{{else}}
		{{#if pgaselfssaipq}}
			<br><button class="btn btn-default" name="btnFSSAI" id="btnFSSAI">ENTER FSSAI DETAILS</button>
			<br><button class="btn btn-default" name="btnPQ" id="btnPQ">ENTER PQ DETAILS</button>
		{{else}}
			{{#if pgaseladc}}
				<br><button class="btn btn-default" name="btnADC" id="btnADC">ENTER ADC DETAILS</button>
			{{else}}
				{{#if pgaselwlro}}
					<br><button class="btn btn-default" name="btnWLRO" id="btnWLRO">ENTER WLRO DETAILS</button>
				{{else}}
					{{#if pgaseltextile}}
						<br><button class="btn btn-default" name="btnTXT" id="btnTXT">ENTER TEXTILE DETAILS</button>
					{{else}}
					{{/if}}
				{{/if}}
			{{/if}}
		{{/if}}
	{{/if}}
{{/if}}

</template>